<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 class="d-flex justify-content-center text-uppercase">
                About us
            </h1>
            <p class="d-flex justify-content-start">
                ATEM is tech-earn company and the best earning place in India.
                Launched in 2020, ATEM provides highly enthusiastic and effective 
                earning opportunities for everyone who is looking for continuous 
                knowledge enhancement and continuous earnings.
                ATEM provides a great platform to all its users to use their time effectively.
            </p>
            <h3 class="d-flex justify-content-center">
                What Make Us Different?
            </h3>
            <h4 class="d-flex justify-content-start">
                Continuous learning and earning
            </h4>
            <p class="d-flex justify-content-start">
                Our niche is creating continuous learning and earning for every user. 
                The ATEM way of earning provides all its users a learning platform where 
                they can learn on daily basis, ATEM vision is make people of its platform 
                stand by themselves and prepare everyone to engage and be excited about 
                starting their own path to discover the world. ATEM - The earning place
                brings together the best content, media for creating a seamless, world 
                class earnings opportunities for each and every user.
            </p>
            <h4 class="d-flex justify-content-start">
                Why Choose Us?
            </h4>
            <p class="d-flex justify-content-start">
                Earning is pivotal for people to lead their life successfully and cheerfully. 
                The Digital Age is deeply shaping the way people earn and will also determining 
                their future path. At ATEM, we encourage people to embrace this fast, changing 
                world and providing them constant learning opportunity by being their earning 
                partner. We craft earning journeys for everyone that address their unique needs.    
            </p>
            <h4 class="d-flex justify-content-start">
                Our Three Pillars
            </h4>
            <p class="d-flex justify-content-start">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                Knowledge enhancement
            </p>
            <p class="d-flex justify-content-start">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                Continuous Earning
            </p>
            <p class="d-flex justify-content-start">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                Make people time effective
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
