<div class="container-fluid">
    <div class="row">
        <div class="banner w-100">
            <div class="row w-100">
                <div class="col-6 w-100">
                    <h1 class="banner1-text">INDIA’s first ever site to provide LEARNING 
                        and EARNING at the same place
                    </h1>
                </div>
                <div class="col-6">
                    <div class="big-title">
                        <h1 class="atem d-flex justify-content-center">ATEM</h1>
                        <h3 class="abbr d-flex justify-content-center">Answer To Earn Money</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-2 w-100">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="card-deck">
                        <div class="card">
                            <img src="./assets/images/takeATest1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Take a Test</h5>
                                <p class="card-text">ATEM provides Daily & weekly challanges from 9Am to 9PM based on the scheduled subject
                                . You can take the test any time in a day</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="./assets/images/analysis1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Get Analysis</h5>
                                <p class="card-text">ATEM will generate various reports of performance in the test.
                                    That includes correct answers and time taken</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="./assets/images/compete1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Compete</h5>
                                <p class="card-text">ATEM provides a healthy competetion between peers to know where
                                    you stand to improve better in coming tests.</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="./assets/images/practice1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Practice</h5>
                                <p class="card-text">Learning By Doing, what ATEM follows. Learn by where you are lagging
                                    based on the reports we generate and practice questions.</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="./assets/images/getPaid1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Get Paid</h5>
                                <p class="card-text">ATEM encourages you by providing some contribution.
                                    Study hard to get paid more</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="banner-3 w-100">
            <div class="row w-100">
                <div class="col-6 subscribe-1">
                    <h4 class="subc-plans"><i class="fa fa-check-circle" aria-hidden="true"></i>ATEM provides learning for all placement, entrance and competitive exams</h4>
                    <h4 class="subc-plans"><i class="fa fa-check-circle" aria-hidden="true"></i>Providing every day learning with detailed explanation</h4>
                    <h4 class="subc-plans"><i class="fa fa-check-circle" aria-hidden="true"></i>Providing detailed skill analysis for each category of concepts</h4>
                </div>
                <div class="col-6 subscribe-2">
                    <div class="price-box">
                        <h3 class="price d-flex justify-content-center"><span> &#8377;</span>350</h3>
                        <p class="font-italic perMonth d-flex justify-content-center">per month</p>
                    </div>
                    <h3 class="cancel d-flex justify-content-center">Cancel At Anytime</h3>
                </div>
            </div>
        </div>
    </div>
</div>