<div class="container-fluid">
    <div class="row">
        <div class="banner w-100">
            <div class="row w-100">
                <div class="col-6 d-flex  align-middle">
                    <!-- <h1 class="banner1-text">INDIA’s first ever site to provide LEARNING and EARNING at the same place</h1> -->
                </div>
                <div class="col-6 d-flex">
                    <!-- <h1 class="atem">ATEM</h1> -->
                    <!-- <h3>Answer to earn money</h3> -->
                </div>
            </div>
        </div>
        <div class="banner-2">
    
        </div>
    </div>
</div>