.container-fluid{
    overflow:auto;
    padding-bottom:40px;
}
.banner{
    height: auto;
    background-color: #eb6e34;
}
.banner-2{
    height: auto;
    border-bottom: solid #eb6e34 1px;
    background-color: white;
}
.card-deck{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card-title{
    color: #eb6e34;
}
img{
    padding: 1%;
}
.banner-3{
    height: auto;
}
.subscribe-1{
    color: white;
    padding: 5%;
    margin: 0%;
    background-color: #eb6e34;
}
.subscribe-2{
    padding: 5%;
    margin: 0%;
    background-color: white;
}
.subc-plans{
    padding: 2%;
}
.price{
    font-size: 8rem;
    color: #eb6e34;
}
.price-box{
    /* margin-left: 34%; */
}
.perMonth{
    font-size: 2.5rem;
    color: #eb6e34;
    margin-top: -6%;
}
.cancel{
    font-size: 4rem;
    color: #eb6e34;
}
.big-title{
    padding: 4%;
    margin: 4%;
}
.atem{
    font-size: 11rem;
    /* padding: 1rem;
    margin-top: 3rem;
    margin-left: 6rem; */
    color: white;
}
.abbr{
    font-size: 2.75rem;
    color: white;
    /* margin-top: -3rem;
    margin-left: 7rem; */
}
.banner1-text{
    margin: 8%;
    padding: 6%;
    font-size: 2.5rem;
    /* padding: 3rem;
    margin: 3rem; */
    color: white;
}
i{
    padding: 1%;
    color: white;
}

@media (min-width:360px) and (max-width:767px){
    .banner1-text{
        font-size: 1.2rem;
    }
    .atem{
        font-size: 4.2rem;     
    }
    .abbr{
        font-size: 1.7rem;
    }
    .price{
        font-size: 4rem;
        color: #eb6e34;
    }
    .perMonth{
        font-size: 1.5rem;
        color: #eb6e34;
    }
    .cancel{
        font-size: 2rem;
        color: #eb6e34;
    }
    .subscribe-1{
        color: white;
        background-color: #eb6e34;
    }
    .col-1{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card{
        margin: 5%;
    }
    .subc-plans{
        font-size: 1.0rem;
        padding: 2%;
    }
}