<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card outer-card">
                <h1 class="text-uppercase d-flex justify-content-center my-earnings">My Earnings</h1>
                <div class="card-deck">
                    <div class="card inner-card">
                        <div class="card-body">
                            <h2 class="d-flex justify-content-center">{{currentWeekTestEarnings | currency:'INR':true}}</h2>
                        </div>
                        <div class="card-footer">
                            <h6 class="d-flex justify-content-center">Current Week Test Earnings</h6>
                        </div>
                    </div>
                    <div class="card inner-card">
                        <div class="card-body">
                            <h2 class="d-flex justify-content-center">{{currentWeekReferralEarnings | currency:'INR':true}}</h2>
                        </div>
                        <div class="card-footer">
                            <h6 class="d-flex justify-content-center">Current Week Referral Earnings</h6>
                        </div>
                    </div>
                    <div class="card inner-card">
                        <div class="card-body">
                            <h2 class="d-flex justify-content-center">{{TotalTestEarnings | currency:'INR':true}}</h2>
                        </div>
                        <div class="card-footer">
                            <h6 class="d-flex justify-content-center">Total Test Earnings</h6>
                        </div>
                    </div>
                    <div class="card inner-card">
                        <div class="card-body ">
                            <h2 class="d-flex justify-content-center">{{TotalReferralEarnings | currency:'INR':true}}</h2>
                        </div>
                        <div class="card-footer">
                            <h6 class="d-flex justify-content-center">Total Referral Earnings</h6>
                        </div>
                    </div>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>S.No</td>
                                <td>Test Date</td>
                                <td>Rank</td>
                                <td>Winnings</td>
                                <td>Payment Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of myEarnings">
                                <td>{{row.sno}}</td>
                                <td>{{row.testDate}}</td>
                                <td>{{row.rank}}</td>
                                <td>{{row.winnings | currency:'INR':true}}</td>
                                <td>{{row.paymentStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
