.container-fluid{
    overflow:auto;
    padding-bottom:100px;
}
label{
    text-align: left;
    font-size: 1.0rem;
    letter-spacing: .3px;
    color: #000;
    margin-bottom: .1rem;
}
input{
    width: 90%;
    border: solid black 1px;
    border-radius: 0%;
}
select{
    width: 90%;
    border: solid black 1px;
    border-radius: 0%;
}
input:focus {
    outline:none !important;
}
select:focus {
    outline:none !important;
}
select option:hover{
    border: solid #eb6e34 1px;
    background: #eb6e34;
}
.btn-primary{
    width: 25%;
    margin: 1%;
    padding: 1%;
    background-color: #eb6e34;
    color: white;
    border: solid #eb6e34 1px;
    border-radius: 0%;
}
.btn-secondary{
    width: 25%;
    margin: 1%;
    padding: 1%;
    background-color: white;
    color: #eb6e34;
    border: solid #eb6e34 1px;
    border-radius: 0%;
}
.card{
    margin: 5%;
    padding: 1%;
}
.signin-text{
    padding: 1%;
    margin: 1%;
    color: #eb6e34;
}
a{
    margin: 1%;
    color: black;
}
h6{
    margin: 1%;
    margin-left: 20%;
    padding: 2%;
}
h6 a{
    margin: 0%;
    margin-left: 1%;
    color: #eb6e34;
    cursor: pointer;
}
a:hover{
    color:  #eb6e34;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
span{
    color: red;
    font-size: 1rem;
}
small{
    color: red;
}
@media (min-width:360px) and (max-width:767px){
    input{
        width: 100%;
    }
    select{
        width: 100%;
    }
    .col-1{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    h6{
        font-size: 0.8rem;
        margin: 1%;
        margin-left: 2%;
    }
}
