.navbar{
    min-height: 80px;
    background-color: black;
}
.navbar-light{
    border-bottom: solid #eb6e34 1px;
}
.btn-primary{
    border-radius: 0%;
    border: #eb6e34;
    background-color: #eb6e34;
    height: 45px;
    width: 120px;
    margin: 15px;
}
h1{
    color: #eb6e34;
    font-size: 3.4rem;
    margin-left: 10%;
}
@media (min-width:360px) and (max-width:767px){
    h1{
        color: #eb6e34;
        font-size: 3rem;
        margin-left: 2%;
    }
    .btn-primary{
        border-radius: 0%;
        border: #eb6e34;
        background-color: #eb6e34;
        height: 35px;
        width: 70px;
        margin-right: -11px;
    }
}
