<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <!-- <div class="card outer-card"> -->
                <div class="card banner-card shadow">
                    <div class="d-inline text-center">
                        <label class="banner-text">Haven't completed today's test?</label>
                        <button class="btn btn-primary ">Start Now</button>
                    </div>
                </div>
                <div class="card-deck graph-card">
                    <div class="card earning-card shadow">
                        <div class="card-body">
                            <div class="card-title text-center"><h3>Last Week Earnings</h3></div>
                            <div class="earning-chart">
                                <canvas id="earning-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card learning-card shadow">
                        <div class="card-body">
                            <div class="card-title text-center"><h3>Last Week Learning growth</h3></div>
                            <div class="learning-chart">
                                <canvas id="learning-chart" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>