<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <!-- <div class="card outer-card"> -->
                <div class="card banner-card">

                </div>
                <div class="card-deck graph-card">
                    <div class="card earning-card">
                        <div class="card-body">
                            <div class="card-title text-center">Chart Name</div>
                            <div class="earning-chart">
                                <canvas id="earning-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card learning-card">
                        <div class="card-body">
                            <div class="card-title text-center">2nd chart name</div>
                            <div class="learning-chart">
                                <canvas id="learning-chart" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>