.container-fluid{
    overflow:auto;
    padding-bottom:100px;
}
.form-group{
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 10%;
}
input{
    width: 60%;
    height: 35px;
    border-radius: 0%;
    border: solid black 1px;
}
.btn-primary{
    font-size: 1rem;
    border-radius: 0%;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 60%;
    height: 40px;
    border: solid #eb6e34 1px;
    background-color: #eb6e34;
    color: white;
}
.login-text{
    padding: 1%;
    color: #eb6e34;
}
.card{
    margin: 5%;
    padding: 1%;
}
a{
    color: black;
}
a:hover{
    color:  #eb6e34;
}
span{
    color: red;
    font-size: 1rem;
}
small{
    color: red;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
@media (min-width:360px) and (max-width:767px){
    input{
        width: 100%;
    }
    .btn-primary{
        margin-bottom: 5%;
        margin-left: 0%;
        width: 100%;
    }
    .form-group{
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .col-1{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}