<div class="container-fluid">
        <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                        <div class="card-deck graph-card">
                                <div class="card">
                                        <div style="width:400px; height:400px; position: relative;">
                                                <canvas id="myChart" width="200px" height="200px"></canvas>
                                        </div>
                                </div>
                                <div class="card">
                                        <div style="width:400px; height:400px;">
                                                <canvas id="myChart" width="200px" height="200px"></canvas>
                                        </div>
                                </div>
                                
                        </div>
                        <div class="card-deck graph-card">
                                <div class="card">
                                        <div style="width:400px; height:400px;">
                                                <canvas id="myChart" width="200px" height="200px"></canvas>
                                        </div>
                                </div>
                                <div class="card">
                                        <div style="width:400px; height:400px;">
                                                <canvas id="myChart" width="200px" height="200px"></canvas>
                                        </div>
                                </div>
                                
                        </div>
                </div>
        </div>
</div>

