<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="row ">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h3 class="text-uppercase forgot-password-text d-flex justify-content-center">Forgot Password
                        </h3>
                        <form [formGroup]="forgotPasswordForm">
                            <div class="form-group">
                                <label for="userName">UserName<span>*</span></label>
                                <input type="text" class="form-control" id="userName" formControlName="userName">
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.userName?.errors?.required &&
                                forgotPasswordForm?.controls.userName?.touched">
                                    UserName required</small>
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.userName?.errors?.minlength ||
                                forgotPasswordForm?.controls.userName?.errors?.maxlength">
                                    Enter with in 1-30 characters</small>
                            </div>
                            <div class="form-group">
                                <label for="secretQuestion">Secret Question<span>*</span></label>
                                <select type="text" class="form-control" id="secretQuestion"
                                    formControlName="secretQuestion">
                                    <option value="" disabled selected>Select Secret Question</option>
                                    <option value="What is the name of the town/city/village where you were born?">
                                        What is the name of the town/city/village where you were born?
                                    </option>
                                    <option value="What is your mother’s name?">
                                        What is your mother’s name?
                                    </option>
                                    <option value="Who is your favorite sports person?">
                                        Who is your favorite sports person?
                                    </option>
                                    <option value="Who is your role model?">
                                        Who is your role model?
                                    </option>
                                    <option value="What is your favorite food?">
                                        What is your favorite food?
                                    </option>
                                    <option value="What is your pet name?">
                                        What is your pet name?
                                    </option>
                                </select>
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.secretQuestion?.errors?.required &&
                                    forgotPasswordForm?.controls.secretQuestion?.touched">
                                    Secret question required</small>
                            </div>
                            <div class="form-group">
                                <label for="secretAnswer">Secret Answer<span>*</span></label>
                                <input type="text" class="form-control" id="secretAnswer"
                                    formControlName="secretAnswer">
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.secretAnswer?.errors?.required &&
                                    forgotPasswordForm?.controls.secretAnswer?.touched">
                                    Secret answer required</small>
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.secretAnswer?.errors?.minlength ||
                                    forgotPasswordForm?.controls.secretAnswer?.errors?.maxlength">
                                    Enter with in 1-30 characters</small>
                            </div>


                            <div class="form-group">
                                <label for="userName">UserName<span>*</span></label>
                                <input type="text" class="form-control" id="userName" formControlName="userName">
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.userName?.errors?.required &&
                                    forgotPasswordForm?.controls.userName?.touched">
                                    UserName required</small>
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.userName?.errors?.minlength ||
                                    forgotPasswordForm?.controls.userName?.errors?.maxlength">
                                    Enter with in 1-30 characters</small>
                            </div>


                            <div class="form-group">
                                <label for="password">New Password<span>*</span></label>
                                <input type="password" class="form-control" id="password" formControlName="password">
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.password?.errors?.required &&
                                    forgotPasswordForm?.controls.password?.touched">
                                    Password required</small>
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.password?.errors?.minlength ||
                                    forgotPasswordForm?.controls.password?.errors?.maxlength">
                                    Enter with in 8-20 characters</small>
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.password?.errors?.pattern">
                                    At least one uppercase letter, one lowercase letter, one number and
                                    one special character required</small>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm New Password<span>*</span></label>
                                <input type="password" class="form-control" id="confirmPassword"
                                    formControlName="confirmPassword" (ngModelChange)="confirmPasswordMatching($event)">
                                <small class="form-text" *ngIf="forgotPasswordForm?.controls.confirmPassword?.errors?.required &&
                                    forgotPasswordForm?.controls.confirmPassword?.touched">
                                    Confirm password required</small>
                                <small class="form-text"
                                    *ngIf="!passwordMatched && forgotPasswordForm?.controls.confirmPassword?.touched">
                                    Confirm password not matched</small>
                            </div>
                            <div class="d-flex justify-content-center reset-submit-btn">
                                <button type="submit" class="btn btn-secondary text-uppercase"
                                    [disabled]="!forgotPasswordForm.touched" (click)="onReset()">
                                    reset
                                </button>
                                <button class="btn btn-primary text-uppercase"
                                    [disabled]="!forgotPasswordForm.valid && !passwordMatched" (click)="onSubmit()">sign
                                    in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>