<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card shadow">
                <div class="row ">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h1 class="text-uppercase my-profile d-flex justify-content-center">my profile</h1>
                        <tabset>
                            <tab>
                                <ng-template tabHeading>
                                    <h5>Personal Details</h5>
                                </ng-template>
                                                        <!-- <div *ngIf="formSubmitted && !signInSuccess" class="alert alert-danger alert-dismissible fade show" role="alert">
                            Entered details already registered with us
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div *ngIf="formSubmitted && signInSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                           Successfully Registered
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div> -->
                      
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="firstName">FirstName<span>*</span></label>
                                            <input type="text" class="form-control" id="firstName" formControlName="firstName">
                            
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lastName">LastName<span>*</span></label>
                                            <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                            
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="mobile">Mobile<span>*</span></label>
                                            <input type="text" class="form-control" id="mobile" formControlName="mobile">
                                           
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="email">Email<span>*</span></label>
                                            <input type="text" class="form-control" id="email" formControlName="email">
                                            
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="qualification">Qualification<span>*</span></label>
                                            <select type="text" class="form-control" id="qualification" formControlName="qualification">
                                                <option value="" disabled selected>Select your Qualification</option>
                                                <option value="Class 10">Class 10</option>
                                                <option value="10+2 or Equivalent">10+2 or Equivalent</option>
                                                <option value="Diploma">Diploma</option>
                                                <option value="Degree or Equivalent">Degree or Equivalent</option>
                                                <option value="B.Tech/B.E">B.Tech/B.E</option>
                                                <option value="Post Graduate">Post Graduate</option>
                                                <option value="Master's or Equivalent">Master's or Equivalent</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="referralCode">Referral Code</label>
                                            <input type="text" class="form-control" id="referralCode" formControlName="referralCode" disabled>
                                        </div>
                                    </div>
                                    
                                    
               
                                    
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-secondary text-uppercase" 
                                            
                                            (click)="onReset()">
                                            reset
                                        </button>
                                        <button class="btn btn-primary text-uppercase"
                                       
                                        (click)="onSubmit()">update</button>
                                    </div>
                                    
                                </form>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <h5>Subscription Details</h5>
                                </ng-template>
                                <h1 class="display-3 m-5 p-5">Subscription details here</h1>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <h5>Payment Details</h5>
                                </ng-template>
                                <h1 class="display-3 m-5 p-5">Payment details here</h1>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <h5>Change Password</h5>
                                </ng-template>
                                <form >
                                    <div class="form-row">
                                        <div class="form-group col-md-3"></div>
                                        <div class="form-group col-md-6">
                                            <label for="userName">UserName<span>*</span></label>
                                            <input type="text" class="form-control" id="userName" formControlName="userName" disabled>   
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3"></div>
                                        <div class="form-group col-md-6 ">
                                            <label for="password">Old Password<span>*</span></label>
                                            <input type="password" class="form-control" id="password" formControlName="password">    
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3"></div>
                                        <div class="form-group col-md-6">
                                            <label for="password">New Password<span>*</span></label>
                                            <input type="password" class="form-control" id="password" formControlName="password"> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3"></div>
                                        <div class="form-group col-md-6">
                                            <label for="confirmPassword">Confirm New Password<span>*</span></label>
                                            <input type="password" class="form-control" id="confirmPassword" 
                                            formControlName="confirmPassword" (ngModelChange) = "confirmPasswordMatching($event)" >
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-secondary text-uppercase" 
                                           
                                            (click)="onReset()">
                                            reset
                                        </button>
                                        <button class="btn btn-primary text-uppercase"
                                        
                                        (click)="onSubmit()">update</button>
                                    </div>
                                    
                                </form>
                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <h5>Referral Details</h5>
                                </ng-template>
                                <h1 class="display-3 m-5 p-5">Referral details here</h1>
                            </tab>
                          </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  
  