.container-fluid{
    overflow:auto;
    padding-bottom:100px;
}
.contact-us-title{
    color: #eb6e34;
}
i{
    color: #eb6e34;
    font-size: 2rem;
    margin: 1%
}
.fa-map-marker{
    font-size: 2rem;
}
.fa-mobile{
    font-size: 2.6rem;
}
.fa-envelope{
    font-size: 1.6rem;
}
label{
    text-align: left;
    font-size: 1.0rem;
    letter-spacing: .3px;
    color: #000;
    margin-bottom: .1rem;
}
input{
    border-radius: 0%;
    /* margin-bottom: 5%; */
    width: 100%;
    border: solid black 1px;
}
textarea{
    border-radius: 0%;
    /* margin-bottom: 5%; */
    width: 100%;
    border: solid black 1px; 
}
.btn-primary{
    margin: 1%;
    border-radius: 0%;
    border: solid #eb6e34 1px;
    width: 50%;
    background-color: #eb6e34;
    color: white;
    float: right;
}
.card{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
}
span{
    color: red;
    font-size: 1rem;
}
small{
    color: red;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
@media (min-width:360px) and (max-width:767px){
    .card{
        padding: 5%;
    }
}