.footer{
    height: 60px;
    width: 100%;
    border-top: black solid 1px;
    background-color: black;
}
h4{
    color: #eb6e34;
}
p{
    color: #eb6e34;
}
@media (min-width:360px) and (max-width:767px){
    h4{
        color: #eb6e34;
        font-size: 0.9rem;
    }
}